@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
  font-family: 'Safira March';
  src: url('./assets/fonts/safira-march.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

:root {
  --bg-color-pri: #f2efe9;
  --bg-color-sec: #e9e5dc;
  --txt-color-dk: #262626;
  --txt-color-lt: white;
  --font-main: 'Josefin Sans', 'Helvetica Neue', sans-serif;
  --font-heading: 'Safira March', Georgia, serif;
}

body {
  font-family: var(--font-main);
  margin: 0;
  background-color: var(--bg-color-pri);
  color: var(--txt-color-dk);
  padding-top: 100px;
}

h1, h2, h3, h4 {
  font-family: var(--font-heading);
  color: var(--txt-color-dk);
}

a {
  text-decoration: none;
  color: var(--txt-color-dk);
}

ul {
  list-style-type: none;
}

a:hover {
  color: var(--txt-color-dk);
}

header {
  background-color: var(--bg-color-sec);
  padding: 10px 20px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 3;
}

nav {
  display: flex;
  align-items: center;
  max-width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10px;
}

.logo {
  padding: 20px;
}

.logo img {
  max-width: 50px;
}

nav ul {
  display: flex;
  gap: 10px;
}

nav ul li a {
  font-weight: 500;
  padding: 10px 15px;
  color: var(--txt-color-dk);
  border: none;
  padding: 0.75rem 1.25rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  color: var(--txt-color-lt);
  text-shadow: #6a6760 1px 0 25px;
}

nav ul li a.active {
  background-color: var(--txt-color-dk);
  color: var(--txt-color-lt);
}

.start {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main {
  padding: 150px 0;
  background-color: var(--bg-color-pri);
}

#index-section {
  margin-bottom: 0;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.column-6 {
  flex: 0 0 32%;
  margin-bottom: 30px;
}

.thumb {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.inner-content {
  padding: 20px;
  background-color: #fff;
  text-align: center;
  position: relative;
  z-index: 1;
}

.inner-content h4 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
}

.hover-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.4s ease-in-out;
  border-radius: 10px;
}

.hover-content .inner {
  text-align: center;
  color: #fff;
  padding: 20px;
}

#container-index {
  margin: -50px auto;
}

.main-button a {
  background-color: #fff;
  color: #2d2d2d;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 500;
  transition: background-color 0.3s ease-in-out;
}

.main-button a:hover {
  background-color: #6bcb77;
  color: #fff;
}

/* hovering 
----------------------------------
----------------------------------
*/
.thumb:hover .hover-content {
  opacity: 1;
}

/* clothes page 
----------------------------------
----------------------------------
*/
.wardrobe-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.wardrobe-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.wardrobe-item img {
  width: 100%;
  height: auto;
  display: block;
}

.wardrobe-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 20px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: opacity 0.4s ease-in-out;
  font-size: 14px;
}

.wardrobe-item:hover .wardrobe-details {
  opacity: 1;
}

.wardrobe-details p {
  margin: 5px 0;
}

.wardrobe-details strong {
  font-weight: 600;
}

/* clothes page - media query
----------------------------------
----------------------------------
*/
@media (max-width: 1024px) {
  .wardrobe-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .wardrobe-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .wardrobe-grid {
    grid-template-columns: 1fr;
  }
}

/* outfits page 
----------------------------------
----------------------------------
*/

.outfit-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.outfit-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.outfit-item img {
  width: 100%;
  height: auto;
  display: block;
}

.outfit-details {
  position: absolute;
  bottom: -150px;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: #f0f0f0;
  transition: bottom 0.4s ease-in-out;
}

.outfit-item:hover .outfit-details {
  bottom: 0;
}

.outfit-details p {
  margin: 5px 0;
}

.outfit-details strong {
  font-weight: 600;
}

.outfit-clothing-images {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 10%;
}

.outfit-clothing-images img {
  width: 20%;
  height: auto;
  border-radius: 5px;
}

/* outfits page - media query
----------------------------------
----------------------------------
*/
@media (max-width: 1024px) {
  .outfit-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .outfit-grid {
    grid-template-columns: 1fr;
  }
}

/* drawers page 
----------------------------------
----------------------------------
*/
.drawer-item {
  position: relative;
  width: 100%;
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.drawer-label {
  font-size: 20px;
  font-weight: 600;
  color: #2d2d2d;
  text-align: center;
}

.drawer-types {
  display: none;
  margin-top: 15px;
  text-align: center;
}

.drawer-item:hover {
  transform: translateY(-10px);
}

.drawer-item:hover .drawer-types {
  display: block;
}

.drawer-types p {
  margin: 5px 0;
  font-size: 16px;
  background-color: #fff;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.5s ease-in-out;
}

.drawer-types p:hover {
  background-color: #ddd;
}

/* drawers page - media query
----------------------------------
----------------------------------
*/
@media (max-width: 768px) {
  .drawer-item {
    padding: 15px;
  }

  .drawer-label {
    font-size: 18px;
  }

  .drawer-types p {
    font-size: 14px;
  }
}

/* clothing details page 
----------------------------------
----------------------------------
*/

.clothing-detail {
  padding: 30px 0;
}

.clothing-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.image-container img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
}

.details-container {
  max-width: 500px;
  width: 100%;
}

.details-info {
  margin-bottom: 0;
}

.details-info p {
  font-size: 12px;
  margin: 5px 0;
  color: grey;
}

#type-text,
#subtype-text,
#color-text,
#size-text {
  color: #2d2d2d;
  font-size: 15pt;
  margin-top: 12px;
  line-height: 60%;
}

.ratings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 30px;
}

.rating {
  text-align: center;
}

.stars {
  display: flex;
  justify-content: center;
}

.stars i {
  font-size: 28px;
  color: #ddd;
  cursor: pointer;
  margin: 0 0px;
}

.stars i.active {
  color: #ffd700;
}

.back-button {
  display: inline-block;
  margin-top: 50px;
  padding: 12px 25px;
  background-color: #2d2d2d;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
}

.back-button:hover {
  background-color: #9c27b0;
}

footer {
  max-width: 100%;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color-sec);
  color: var(--txt-color-dk);
}

footer .logo {
  padding: 0;
}

footer ul {
  display: flex;
  list-style: none;
  gap: 15px;
}

footer ul li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

footer .start {
  gap: 20px;
}

footer a:hover {
  text-decoration: underline var(--txt-color-dk);
}

footer a.active {
  text-decoration: double underline var(--txt-color-dk);
}

footer .credits p {
  font-size: 14px;
}

/* media query 
----------------------------------
----------------------------------
*/
@media (max-width: 768px) {
  .column-6 {
    flex: 0 0 100%;
  }

  .header-strip .container,
  footer .container {
    flex-direction: column;
    align-items: center;
  }

  .main-nav ul {
    flex-direction: column;
    align-items: center;
  }

  .main-nav ul li {
    margin: 10px 0;
  }

  footer ul {
    justify-content: center;
  }

  footer .credits {
    text-align: center;
    margin-top: 20px;
    margin-left: 0;
  }
}
